@model GitGruppen.Core.Receipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleLicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleLicensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-outline-dark" asp-controller="Members" asp-action="Details" asp-route-id="@Model.MemberPersNr">Back to member</a>
</div>
