@model IEnumerable<GitGruppen.Core.Receipt>

@{
    ViewData["Title"] = "Receipts";
}

<h1>Receipts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.VehicleLicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPersNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleLicensePlate)
                </td>

                <td>
                   <a asp-controller="Members" asp-action="Details" asp-route-id="@item.MemberPersNr">
                    @Html.DisplayFor(modelItem => item.MemberPersNr)
                    </a>
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.TimeDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
