@model IEnumerable<MemberView>

@{
    ViewData["Title"] = "Members";
}

<h1>Members</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersNr)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Member No Vehicles
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PersNr">
                    @Html.DisplayFor(modelItem => item.PersNr)
                        </a>
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberHasNrVehicles)
                </td>

            <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.PersNr">Edit</a> |
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.PersNr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
