@model Gitgruppen.Models.ParkedVehicle

@{
    ViewData["Title"] = "krux";
}
<div class="modal fade" role="dialog" tabindex="1" id="addDetailsModal">

    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>TestModal</h3>
                </div>

                    <div class="modal-body">
              
                        <div>
                 
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Type)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Arrived)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Arrived)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Color)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Color)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Brand)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Brand)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Model)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Model)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.NumberOfWheels)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.NumberOfWheels)
                                </dd>
                            </dl>
                        </div>
          
   
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>


        </div>
    </div> 
</div>