@model IEnumerable<Gitgruppen.Models.OverViewModel>

@{
    ViewData["Title"] = "Garage 2.0";
}

<h1><i>Garage Manager</i></h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Check in Vehicle</a>
</p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder=" Search Licenseplate" name="licensePlate" value="@ViewData["LicensePlate"]" />
                <input type="submit" value="Search" class="btn btn-success" /> &nbsp;
                <a class="btn btn-outline-dark text-decoration-none" asp-action="Index">Whole Garage</a>
            </div>
        </div>
    </form>
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="addDetailsModal" onclick="showDetatails()">
        TestModal
    </button>
<table class="table" id="ModalTable">
    <thead class="bg-dark bg-opacity-75 text-light text-uppercase text-center">
        <tr>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="@ViewData["TypeSort"]">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="@ViewData["ArrSort"]">@Html.DisplayNameFor(model => model.Arrived)</a>
            </th>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="color">@Html.DisplayNameFor(model => model.Color)</a>
            </th>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="brand">@Html.DisplayNameFor(model => model.Brand)</a>
            </th>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="model">@Html.DisplayNameFor(model => model.Model)</a>
            </th>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="numberofwheels">@Html.DisplayNameFor(model => model.NumberOfWheels)</a>
            </th>
            <th>
                <a class="sortbuttons" asp-action="Index" asp-route-sort="licenseplate">@Html.DisplayNameFor(model => model.LicensePlate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
            <td class="float-end border-bottom-0">
                <a class="btn btn-outline-dark text-decoration-none" asp-action="Edit" asp-route-id="@item.LicensePlate">Modify</a> &nbsp;
                <a class="btn btn-outline-dark text-decoration-none" asp-action="Details" asp-route-id="@item.LicensePlate">Details</a> &nbsp;
                <a class="btn btn-outline-danger text-decoration-none" asp-action="Delete" asp-route-id="@item.LicensePlate">Check out vehicle</a>
            </td>
        </tr>
}
    </tbody>
</table>
