@model IEnumerable<Gitgruppen.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Garage 2.0";
}

<h1><i>Garage Manager</i></h1>

<p>
    <a asp-action="Create">Check in vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LicensePlate">Modify</a> |
                <a asp-action="Details" asp-route-id="@item.LicensePlate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LicensePlate">Check out vehicle</a>
            </td>
        </tr>
}
    </tbody>
</table>
